{% extends 'base.html' %}
{% block title %} Praescriptio-about {% endblock title %}
{% block body %}
   <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="index">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="/">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded w-75 align-self-end" src={{ url_for('static', filename='img/about-1.jpg') }} alt="">
                        <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src={{ url_for('static', filename='img/about-2.jpg') }} alt="" style="margin-top: -25%;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
                    <h1 class="mb-4">When Should You Use This Application? Get To Know About Us!</h1>
                    <p>This is an AI based assistant in form of a website application which will help you as a medical practitioner or as a patient. This website can be accessible from anywhere, anytime to know about your health related parameters. After the outbreak og global pandemic, people are getting to know the real value of a healthy lifestyle. Maybe that was the major driving force due to which we came up with such a robut solution. Even if you know nothing about the core aspects of AI, you need not worry. We got you covered!</p>
                    <p class="mb-4">Let's have a look at some of the key features which you can expect from using this application.</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i><b>Common Disease Prediction:</b>Check if you are suffering from some common health problems based on your 5 visible symptoms. Know exactly what to say when you visit your doctor next!</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i><b>Maleria Prediction:</b>Suspecting that your patient might be infected with Maleria? Upload an image of your patient's Red Blood Corpuscle and know results immediately without human error!</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i><b>Covid-19 Prediction:</b>Suspecting that your patient might be infected with Maleria? Upload an image of your patient's Red Blood Corpuscle and know results immediately without human error!</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i><b>Pneumonia Prediction:</b>Medical Research Professionals</p>
                    
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded w-75 align-self-end" src={{ url_for('static', filename='img/carousel-2.jpg') }} alt="">
                        <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src={{ url_for('static', filename='img/carousel-3.jpg') }} alt="" style="margin-top: -25%;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p><i class="far fa-check-circle text-primary me-3"></i><b>Skin Cancer Prediction:</b>Check if you are suffering from some common health problems based on your 5 visible symptoms. Know exactly what to say when you visit your doctor next!</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i><b>Breast Cancer Prediction:</b>Suspecting that your patient might be infected with Maleria? Upload an image of your patient's Red Blood Corpuscle and know results immediately without human error!</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i><b>Diabetes Prediction:</b>Suspecting that your patient might be infected with Maleria? Upload an image of your patient's Red Blood Corpuscle and know results immediately without human error!</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i><b>Heart Attack Prediction:</b>Medical Research Professionals</p>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="p-lg-5 ps-lg-0">
                        <p class="d-inline-block border rounded-pill text-light py-1 px-4">Features</p>
                        <h1 class="text-white mb-4">Why Choose Us</h1>
                        <p class="text-white mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet</p>
                        <div class="row g-4">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-user-md text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Experience</p>
                                        <h5 class="text-white mb-0">Doctors</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-check text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Quality</p>
                                        <h5 class="text-white mb-0">Services</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-comment-medical text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Positive</p>
                                        <h5 class="text-white mb-0">Consultation</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-headphones text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">24 Hours</p>
                                        <h5 class="text-white mb-0">Support</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src={{ url_for('static', filename='img/doctor.gif')}} style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Doctors</p>
                <h1>Nearby Hospitals</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src={{ url_for('static', filename='img/team-1.jpg') }} alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Ruby General Hospital</h5>
                            <p class="text-primary">Rating-4.6</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="https://www.google.com/search?tbs=lf:1,lf_ui:2&tbm=lcl&sxsrf=APq-WBtjrl9dRwVVcAwUhvnong4a3aok0w:1648180229175&q=4+famous+hospitals+in+kolkata&rflfq=1&num=10&sa=X&ved=2ahUKEwiOzNforeD2AhUPwjgGHVa1CmgQjGp6BAghEAE&biw=1536&bih=792&dpr=1.25#"><i class="fab fa-accessible-icon"></i></a>
                                <a class="btn btn-square" href="https://www.rubyhospital.com/"><i class="fab fa-google"></i></a>
                                <a class="btn btn-square" href="https://youtu.be/MyBcgIzCNu8"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src={{ url_for('static', filename='img/team-2.jpg') }} alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Apollo Hospitals</h5>
                            <p class="text-primary">Rating-4.5</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="https://www.google.com/search?tbs=lf:1,lf_ui:2&tbm=lcl&sxsrf=APq-WBtjrl9dRwVVcAwUhvnong4a3aok0w:1648180229175&q=4+famous+hospitals+in+kolkata&rflfq=1&num=10&sa=X&ved=2ahUKEwiOzNforeD2AhUPwjgGHVa1CmgQjGp6BAghEAE&biw=1536&bih=792&dpr=1.25#"><i class="fab fa-accessible-icon"></i></a>
                                <a class="btn btn-square" href="https://kolkata.apollohospitals.com/"><i class="fab fa-google"></i></a>
                                <a class="btn btn-square" href="https://youtu.be/DjvgRJ_XR34"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src={{ url_for('static', filename='img/team-3.jpg') }} alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>ILS Hospitals</h5>
                            <p class="text-primary">Rating-4.3</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="https://www.google.com/search?tbs=lf:1,lf_ui:2&tbm=lcl&sxsrf=APq-WBtjrl9dRwVVcAwUhvnong4a3aok0w:1648180229175&q=4+famous+hospitals+in+kolkata&rflfq=1&num=10&sa=X&ved=2ahUKEwiOzNforeD2AhUPwjgGHVa1CmgQjGp6BAghEAE&biw=1536&bih=792&dpr=1.25#"><i class="fab fa-accessible-icon"></i></a>
                                <a class="btn btn-square" href="http://www.ilshospitals.com/"><i class="fab fa-google"></i></a>
                                <a class="btn btn-square" href="https://youtu.be/7WmQAt04nI4"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src={{ url_for('static', filename='img/team-4.jpg') }} alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Peerless Hospital</h5>
                            <p class="text-primary">Rating-4.0</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="https://www.google.com/search?tbs=lf:1,lf_ui:2&tbm=lcl&sxsrf=APq-WBtjrl9dRwVVcAwUhvnong4a3aok0w:1648180229175&q=4+famous+hospitals+in+kolkata&rflfq=1&num=10&sa=X&ved=2ahUKEwiOzNforeD2AhUPwjgGHVa1CmgQjGp6BAghEAE&biw=1536&bih=792&dpr=1.25#"><i class="fab fa-accessible-icon"></i></a>
                                <a class="btn btn-square" href="http://www.peerlesshospital.com/"><i class="fab fa-google"></i></a>
                                <a class="btn btn-square" href="https://youtu.be/1wLqMwIfMuk"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
        

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Address</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Techno India, Salt Lake</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91-9330156106</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>ayushidas200124@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://twitter.com/tweet_to_ayushi"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://github.com/ayushi200124"><i class="fab fa-github"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://medium.com/@ayushidas200124"><i class="fab fa-medium"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://linkedin.com/in/ayushidaslinkdin"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Models</h5>
                    <a class="btn btn-link" href="">Diabetes</a>
                    <a class="btn btn-link" href="">Chest X-Ray</a>
                    <a class="btn btn-link" href="">Maleria</a>
                    <a class="btn btn-link" href="">Breast Cancer</a>
                    <a class="btn btn-link" href="">Brain Tumor</a>
                    <a class="btn btn-link" href="">Skin Disease</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="">Home</a>
                    <a class="btn btn-link" href="">Abouts</a>
                    <a class="btn btn-link" href="">Models</a>
                    <a class="btn btn-link" href="">Features</a>
                    <a class="btn btn-link" href="">Hospitalss</a>
                    <a class="btn btn-link" href="">Feedback</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Request a mail back</h5>
                    <p>Contact with the developer, if needed.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Prescriptio@2022</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Developed By <a class="border-bottom" href="https://linkedin.com/in/ayushidaslinkdin">Ayushi Das</a>
                        </br>
                        Distributed By <a class="border-bottom" href="https://linkedin.com/in/ayushidaslinkdin" target="_blank">Currently disabled</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src={{ url_for('static', filename='lib/wow/wow.min.js') }}></script>
    <script src={{ url_for('static', filename='lib/easing/easing.min.js') }}></script>
    <script src={{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}></script>
    <script src={{ url_for('static', filename='lib/counterup/counterup.min.js') }}></script>
    <script src={{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}></script>
    <script src={{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}></script>
    <script src={{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}></script>
    <script src={{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}></script>
    
    <!-- Template Javascript -->
    <script src={{ url_for('static', filename='js/main.js') }}></script>
{% endblock body %}

</html>